.dots-button {
  position: absolute;
  bottom: 130px;
  right: 10px;
  z-index: 10;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: box-shadow 0.2s, transform 0.2s;
}

.dots-button:hover {
  transform: scale(1.1);
}

.dots-trigger {
  display: flex;
  flex-wrap: wrap;
}

.dots-trigger span {
  display: block;
  width: 5px;
  height: 5px;
  margin: 14px 7px;
  background-color: #1f727c;
  border-radius: 50%;
  margin: 0 2px;
}

.shop-now-button {
  position: absolute;
  bottom: 125px;
  left: 31%;
  padding: 1px 8px;
  background-color: #f7f6f2;
  color: #004d47;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  border: 2px solid #004d47;
  border-radius: 30px;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  animation: slideInFromLeft 0.4s ease forwards;
  z-index: 10;
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.shop-now-button.visible {
  opacity: 1;
  visibility: visible;
}

.shop-now-button.hidden {
  opacity: 0;
  visibility: hidden;
}

.shop-now-button a {
  color: black;
  text-decoration: none;
}

@media (max-width: 768px) {
  .dots-button {
    width: 35px;
    height: 35px;
    top: 180px;
  }

  .shop-now-button {
    display: none;
  }
}

@media (max-width: 375px) {
  .dots-button {
    top: 140px;
  }
}
